
<div class='wrapper'>
  <h2 class='my-8 text-2xl text-center'>GetPacks API</h2>

  <table class='table-auto'>
    <thead>
      <tr>
        <th>packID</th>
        <th>name</th>
        <th>price</th>
        <th>description</th>
        <th>imageURL</th>
        <th>categoryName</th>
        <th>packLimit</th>
        <th>packLimitTime</th>
        <th>packLinkedLimit</th>
        <th>excludedRegions</th>
        <th>exclusiveRegions</th>
        <th>overlayHidden</th>
      </tr>
    </thead>
    <tbody id='GetPacksTable'> </tbody>
  </table>
</div>
<script>
  async function fetchData(url) {
    try {
      const response = await fetch(url, {
        method: 'GET',
        headers: {
          Accept: '*/*',
          Authorization: 'WhalleyBotAPI_rtTECwgxKLKy9Q==',
        },
      });
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      const data = await response.json();
      return data;
    } catch (error) {
      console.error('Error fetching or parsing data: ', error);
      throw error;
    }
  }

  async function displayJsonAsTable() {
    try {
      let allPacks = []; // Array to store all packs from all pages
      let pageNumber = 1; // Start with the first page
      let nextPageExists = true;

      while (nextPageExists) {
        // Fetch data for the current page
        const data = await fetchData(
          `https://api.whalleybot.com/bot/afd0a027/GetPacks/${pageNumber}`,
        );

        if (data && data.packData && data.packData.length > 0) {
          // Add packs from the current page to the array
          allPacks = allPacks.concat(data.packData);
          pageNumber++; // Move to the next page
        } else {
          nextPageExists = false; // No more data available, exit the loop
        }
      }

      // Clear existing table rows
      const tableBody = document.getElementById('GetPacksTable');
      tableBody.innerHTML = '';

      // Populate table with JSON data
      allPacks.forEach((packData) => {
        const row = document.createElement('tr');
        row.innerHTML = `
            <td>${packData.packID}</td>
            <td>${packData.name}</td>
            <td>${packData.price}</td>
            <td>${packData.description}</td>
            <td>${packData.imageURL}</td>
            <td>${packData.categoryName}</td>
            <td>${packData.packLimit}</td>
            <td>${packData.packLimitTime}</td>
            <td>${packData.packLinkedLimit}</td>
            <td>${packData.excludedRegions}</td>
            <td>${packData.exclusiveRegions}</td>
            <td>${packData.overlayHidden}</td>
          `;
        tableBody.appendChild(row);
      });
    } catch (error) {
      console.error('Error populating table: ', error);
    }
  }

  // Call the function to display JSON data as a table
  displayJsonAsTable();
</script>
